#about-wrapper .container {
  padding-top: 10%;
  padding-bottom: 10%;
}

#getting-there-wrapper .container {
  padding-top: 5%;
  padding-bottom: 5%;
}

#video-wrapper .container {
  padding-top: 8%;
  padding-bottom: 8%;
}

