/**
#get-ready-wrapper {
  background: url('../images/get-ready.jpg') no-repeat center center fixed;
  padding: 10% 0 15% 0;
}
**/

#get-ready-wrapper {
  height: 100%;
  max-height: 900px;
  background-image: url('../images/get-ready.jpg');
  padding: 10% 0 10% 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}

#get-ready-wrapper h1 {
  color: #d7cfac;
  font-size: 800%;
  font-family: 'Open Sans', 'sans-serif';
  text-align: center;
  text-shadow: 1px 1px 10px #000;
  letter-spacing: 6px;
}

#get-ready-wrapper h2 {
  color: #fff;
  font-size: 350%;
  font-family: 'Open Sans', 'sans-serif';
  text-transform: uppercase;
  text-align: center;
  text-shadow: 1px 1px 10px #000;
}

#get-ready-wrapper h3 {
  color: #fff;
  font-size: 400%;
  font-family: 'Open Sans', 'sans-serif';
  font-weight: 400;
  text-transform: uppercase;
  text-shadow: 1px 1px 10px #000;
  padding-top: 15%;
}

