body.page-about h1.page-header {
  display: none;
}

body.page-about #about-container {
  padding-top: 5%;
  padding-bottom: 5%;
}

body.page-about #join-container,
body.page-about #exit-container {
  padding-top: 10%;
  padding-bottom: 10%;
}

body.page-about #exit-container {
  padding-top: 5%;
}

body.page-about #join-container h1 {
  padding-bottom: 50px;
}

body.page-about #exit-container h1,
body.page-about #join-container h1 {
  font-weight: bold;
  color: #fff;
}

body.page-about #exit-container,
body.page-about #exit-container li {
  color: #fff;
}

body.page-about #exit-container .lead,
body.page-about #join-container .lead {
  color: #fff;
  font-weight: bold;
}

body.page-about #exit-container a,
body.page-about #join-container a {
  color: #fff;
}

body.page-about #location-container .fa-5x {
  font-size: 10em;
}

body.page-about #join-wrapper {
  height: 100%;
  max-height: 900px;
  background-image: url('../images/crowd.jpg');
  padding: 80px 0 80px 0;
  margin-bottom: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}

body.page-about #exit-wrapper {
  height: 100%;
  max-height: 900px;
  background-image: url('../images/statue.jpg');
  padding: 80px 0 80px 0;
  margin-bottom: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}
